openapi: 3.0.3
info:
  title: National Park Service Data API
  description: >-
    The NPS Data API provides official, authoritative data and content about
    United States national parks, monuments, and historic sites. The API
    delivers information about parks, alerts, news releases, events, places,
    visitor centers, campgrounds, articles, people, and more.
  version: 1.0.0
  contact:
    name: National Park Service Developer Resources
    url: https://www.nps.gov/subjects/developer/api-documentation.htm
servers:
  - url: https://developer.nps.gov/api/v1
    description: Production
security:
  - apiKey: []
paths:
  /parks:
    get:
      summary: Retrieve parks
      description: Retrieve data about national parks (addresses, contacts, descriptions, hours, fees, etc.).
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
          description: Comma-delimited list of park codes (e.g., acad,dena).
        - name: stateCode
          in: query
          schema: { type: string }
          description: Comma-delimited list of two-letter state codes.
        - name: q
          in: query
          schema: { type: string }
          description: Free-text search term.
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
        - name: start
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: A page of park records.
  /alerts:
    get:
      summary: Retrieve alerts
      description: Park alerts including caution, danger, closures, and information notices.
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
        - name: stateCode
          in: query
          schema: { type: string }
        - name: q
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
        - name: start
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: A page of alert records.
  /newsreleases:
    get:
      summary: Retrieve news releases
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
        - name: q
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: News releases.
  /events:
    get:
      summary: Retrieve events
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
        - name: stateCode
          in: query
          schema: { type: string }
        - name: dateStart
          in: query
          schema: { type: string, format: date }
        - name: dateEnd
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Events.
  /places:
    get:
      summary: Retrieve places
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
        - name: stateCode
          in: query
          schema: { type: string }
        - name: q
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Places.
  /visitorcenters:
    get:
      summary: Retrieve visitor centers
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
        - name: stateCode
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Visitor centers.
  /campgrounds:
    get:
      summary: Retrieve campgrounds
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
        - name: stateCode
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Campgrounds.
  /articles:
    get:
      summary: Retrieve articles
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
        - name: q
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Articles.
  /people:
    get:
      summary: Retrieve historical people
      parameters:
        - name: parkCode
          in: query
          schema: { type: string }
        - name: q
          in: query
          schema: { type: string }
      responses:
        '200':
          description: People.
  /activities:
    get:
      summary: List activities available within parks
      responses:
        '200':
          description: Activities.
  /topics:
    get:
      summary: List topics covered by NPS
      responses:
        '200':
          description: Topics.
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Api-Key
